body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u0 {
  position:absolute;
  left:26px;
  top:24px;
  width:814px;
  height:276px;
  line-height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  word-wrap:break-word;
}
